@import "~antd/dist/antd.css";

.typed-cursor {
	white-space: pre;
	font-family: monospace;
	font-size: 26px;
	color: #9E9E9E;
}

@media screen and (max-width: 600px) {
	.typed-cursor {
		white-space: pre;
		font-family: monospace;
		font-size: 18px;
		color: #9E9E9E;
	}
}

.ant-page-header-content {
	padding: 0;
}

a > div.ant-image {
	vertical-align: middle;
}
